* {
    font-family: sans-serif;
}

.wrap {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-center {
    text-align: center;
}

.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.site-header {
    height: auto;
    padding: 20px 0;
}

.site-header h1 {
    display: inline-block;

}

.full-width {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* -------------card---------------- */

.card {
    border: 1px solid #dedede
}

.card-images {
    max-width: 90%;
    display: block;
    margin: 20px auto;
    min-height: 150px;
}

/* -------------card---------------- */ 

.site-nav {
    width: 300px;
    min-height: 100vh;
    position: fixed;
    left: -300px;
    top: 0;
    z-index: 9999999;
    padding: 10px;
    transition: all ease 1s;
    color: #fff
}

.site-nav a {
    color: #fff
}

.close-button-div {
    text-align: right;
}

ul.category-list {
    list-style-type: disc;
}